<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="https://cdn.bootcss.com/angular.js/1.4.6/angular.min.js"></script>
	</head>
	<body ng-app="app" ng-controller="rootCtrl">
		<h1>angular数据双向绑定 实现select多级联动 </h1>
	 	<select name="" id="s1" ng-controller="ctrl1" ng-selected="selectedValue1" ng-model="selectedValue1">
			<option ng-repeat="item1 in arr" value="{{item1.value}}" ng-selected="bool1">{{item1.text}}</option>
		 </select>

		 <select name="" id="s2" >
			<option ng-repeat="item2 in arr" value="{{item2.value}}" ng-selected="bool2">{{item2.text}}</option>
		</select>

		<select name="" id="s3">
			<option ng-repeat="item3 in arr" value="{{item3.value}}" ng-selected="bool3">{{item3.text}}</option>
		</select>
		 
		
		<script type="text/javascript">
	 		var app =angular.module('app',[]);
	 		
	 		app.controller('rootCtrl',($scope)=>{
	 		$scope.arr = [
							{value:0,text:'未选择'},
							{value:1,text:1},
							{value:2,text:2},
							{value:3,text:3},
							{value:4,text:4},
							{value:5,text:5},
							{value:6,text:6},
							{value:7,text:7},
							{value:8,text:8},
							{value:9,text:9},
							{value:10,text:10}
						];
	 		});


			app.controller('ctrl1',($scope)=>{
				alert(selectedValue1)
			});

			app.controller('ctrl1',($scope)=>{

			});

			app.controller('ctrl1',($scope)=>{

			});
	 	</script>
	</body>
</html>
